@using AuctionAce.Api.Models.ViewModels.Auctions
@model AuctionViewModel
@{
    string userIdString = Context.Session.GetString("UserId");
    int userId = 0;
    if (!string.IsNullOrEmpty(userIdString) && int.TryParse(userIdString, out userId))
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUnlogged.cshtml";
    }
}
<div class="container mt-5">
    @if (Model.AuctionItems != null)
    {
        <div class="auction-container">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col">Start Price</th>
                        <th scope="col">Buy Now Price</th>
                        <th scope="col">Photo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.AuctionItems)
                    {
                        <tr>
                            <td>@i.Name</td>
                            <td>@i.Description</td>
                            <td>@i.StartingPrice</td>
                            <td>@i.BuyNowPrice</td>
                            <td>
                                @if (!string.IsNullOrEmpty(i.ImagePath))
                                {
                                    <img src="@i.ImagePath" alt="@i.Name" class="img-thumbnail" style="max-width: 100px;">
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No auctions available.</p>
    }
</div>