@using AuctionAce.Api.Models.ViewModels.Auctions
@model AuctionViewModel
@{
    string userIdString = Context.Session.GetString("UserId");
    int userId = 0;
    if (!string.IsNullOrEmpty(userIdString) && int.TryParse(userIdString, out userId))
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUnlogged.cshtml";
    }
}
<h1>Auction Name: <h5>@Model.AuctionName</h5></h1>
<h1>Auction Description: <h5>@Model.AuctionDescription</h5></h1>



<div class="container-fluid mt-5">
    @if (Model.AuctionItems != null)
    {
        <div class="auction-container">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Start Price</th>
                        <th scope="col">Buy Now Price</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Join bidding</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.AuctionItems)
                    {
                        <tr>
                            <td>@i.Name</td>
                            <td>@i.Description</td>
                            <td>@i.StartingPrice</td>
                            <td>@i.BuyNowPrice</td>
                            <td>@(i.NewUsed==true ? "New" : "Used")</td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm w-100 h-100 " data-toggle="modal" data-target="#carouselModal-@i.Id" data-item-id="@i.Id">
                                    <i class="fas fa-images"></i>
                                </button>
                            </td>
                            <td>
                                @if (userId != 0)
                                {
                                    <a href="@Url.Action("Index", "AuctionItem", new { itemId = i.Id,itemGuid =i.Guid})" class="btn btn-primary w-100 h-100 @(i.IdStatus == 0 ? "disabled" : "")" @(i.IdStatus == 0 ? "tabindex='-1' aria-disabled='true'" : "")>@(i.IdStatus == 0 ? "Closed" : "Join")</a>
                                }
                                else
                                {

                                    <span class="btn btn-secondary w-100 h-100" tabindex="-1" aria-disabled="true">Login Required</span>
                                }

                            </td>
                        </tr>

                        <!-- Modal z carousel -->
                        <div class="modal fade" id="carouselModal-@i.Id" tabindex="-1" aria-labelledby="carouselModalLabel-@i.Id" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div id="carousel-@i.Id" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                @if (Model.SingleItemImages.ItemImages.ContainsKey(i.Id))
                                                {
                                                    var itemImages = Model.SingleItemImages.ItemImages[i.Id];
                                                    for (int j = 0; j < itemImages.Count; j++)
                                                    {
                                                        var image = itemImages[j];
                                                        <div class="carousel-item @(j == 0 ? "active" : "")">
                                                            <img class="d-block w-100" src="data:image/png;base64,@image.ItemImageBase64" alt="Image @j">
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-100" src="https://via.placeholder.com/800x400" alt="No image available">
                                                    </div>
                                                }
                                            </div>
                                            <a class="carousel-control-prev" href="#carousel-@i.Id" role="button" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel-@i.Id" role="button" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No auctions available.</p>
    }
</div>

<style>
    table {
        table-layout: fixed;
        width: 100%;
    }

    td {
        word-wrap: break-word;
        white-space: normal;
    }
</style>