@using AuctionAce.Api.Models.ViewModels.WishlistViewModel
@model WishlistViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container">
    <div class="row">
        @foreach (var auction in Model.AuctionDataDomain)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@auction.Name</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@auction.Description</p>
                        <p><strong>Start Date:</strong> @auction.StartDate.ToString()</p>
                        <p><strong>End Date:</strong> @auction.EndDate.ToString()</p>
                        <p><strong>Category:</strong> @auction.Category</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("AuctionItemList", "Auction", new { auctionId = auction.Id })" class="btn btn-primary">
                            View Auction
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
